@tailwind base;
@tailwind utilities;

@font-face {
  font-family: "Exo2";
  src: url("/fonts/Exo2/static/Exo2-Regular.ttf");
}

body {
  font-family: "Exo2";
  background-color: #f6f2f0;
  @apply text-slate-800;

  overflow: hidden;
}

/* Animated green outline on focus */
.focusable {
  @apply outline-none;
}

.focusable:focus {
  @apply ring-4 ring-emerald-300;
}

/* Generic container */
.card {
  @apply outline-none border border-slate-300 rounded;
  @apply bg-white;
  @apply drop-shadow;
}

/* Basic form field */
.form-input {
  /* Border */
  @apply border border-slate-300 rounded outline-none;
  /* Colors */
  @apply bg-slate-50;
}

.form-input:disabled {
  @apply hover:border-slate-300;
  /* Colors */
  @apply bg-slate-200 text-slate-400;
  @apply cursor-not-allowed;
}

.form-input:hover {
  @apply hover:border-slate-400;
}

/* Validation rules */
.validated .form-input.invalid:not(:disabled) {
  @apply border-red-300 bg-rose-50;
  @apply hover:border-red-400;
}

.validated .form-input.valid:not(:disabled) {
  @apply border-green-300 bg-green-50;
  @apply hover:border-green-400;
}

/* Alert icon on invalid inputs */
.validated .form-input.invalid ~ .input-icons::before {
  font-family: "Font Awesome 5 Free";
  content: "\f071";
  @apply pe-1 font-black text-3xl text-red-400;
}

/* Icons */
.alert-icon::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  content: "\f071";
  @apply text-blue-400;
}
