@tailwind base;
@tailwind utilities;

@font-face {
  font-family: "Exo2";
  src: url("/fonts/Exo2/static/Exo2-Regular.ttf");
}

body {
  font-family: "Exo2";
  background-color: #f6f2f0;
  @apply text-slate-800;
}

/* Animated green outline on focus */
.focusable {
  @apply outline-none transition-shadow;
}

.focusable:focus {
  @apply ring-4 ring-emerald-300;
}

/* Generic container */
.card {
  @apply outline-none border border-slate-300 rounded;
  @apply bg-white;
  @apply drop-shadow;
}

/* Input icons */
.input-icons {
  /* Sizing and position */
  @apply absolute right-3;
  /* Flexbox */
  @apply inline-flex justify-center items-center;
  /* Misc */
  @apply pointer-events-none select-none;
}

/* Basic form field */
.form-input {
  /* Border */
  @apply border border-slate-300 rounded outline-none;
  /* Colors */
  @apply bg-slate-50;
}

.form-input:disabled {
  @apply hover:border-slate-300;
  /* Colors */
  @apply bg-slate-200 text-slate-400;
  @apply cursor-not-allowed pointer-events-none;
}

.form-input:hover {
  @apply hover:border-slate-400;
}

/* Validation rules */
.validated .form-input.invalid:not(:disabled) {
  @apply border-red-300 bg-rose-50;
  @apply hover:border-red-400;
}

.validated .form-input.valid:not(:disabled) {
  @apply border-green-300 bg-green-50;
  @apply hover:border-green-400;
}

.validated .form-input.invalid ~ .input-icons::before {
  font-family: "Font Awesome 5 Free";
  content: "\f071";
  @apply pe-1 font-black text-2xl text-red-400;
}

.form-input-label {
  /* Position */
  @apply absolute top-4 left-4;
  /* Color */
  @apply text-slate-500;
  /* Ignore selection and pointer */
  @apply select-none pointer-events-none;
  /* Animation */
  @apply transition-transform origin-left;
}

/* Icons */
.alert-iconnn::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 1.5rem;
  content: "\f071";
  @apply text-blue-400;
}
