# DB
DB_USER=INSERT_DB_USER
DB_PASSWORD=INSERT_DB_PASSWORD
DB_PORT=5432
DB_EXTERNAL_PORT=14001
DB_NAME=INSERT_DB_NAME

# HTTP server
PORT=14002
GIN_MODE=release

# Where all data
DATA_FOLDER=/var/opt/INSERT_DATA_FOLDER
