/* Common variables */
$min-width: 3.5rem
$min-height: 3.5rem
$padding: .75rem

$button-font-size: 1.25rem
$icons-gaps: .25rem
$input-has-placeholder-height: 3.5rem
$input-has-placeholder-padding-top: 1.25rem
$input-height: 2.5rem
$menu-item-padding: 1rem
$placeholder-transform: translateY(calc(-50%)) scale(.9)

$switch-height: 2rem
$switch-width: 3rem
$switch-mark-size: 1.5rem
$switch-gap: .5rem
