@use 'colors'
@use 'borders'
@use 'transitions'

/* Fullscreen div */
.fs
  height: 100vh
  position: fixed
  width: 100vw

.centered
  align-items: center
  display: flex
  justify-content: center

.backdrop
  background-color: rgba(255, 255, 255, .8)
  z-index: 100

/* Cards */
.card
  background-color: colors.$card
  border-radius: borders.$radius
  border: borders.$card
  filter: drop-shadow(colors.$card-shadow 0 .1rem .1rem)
  margin-bottom: .25rem

.info
  color: colors.$info-text
  background-color: colors.$info
  border: 1px solid colors.$info-border
