$time: 100ms
$function: ease-in-out

$colors: background-color $time $function
$filter: filter $time $function
$focusable: outline-width $time $function
$position: position $time $function
$transform: transform $time $function

/* Vue's "fade" transition */
.fade-enter-active, .fade-leave-active
  transition: opacity $time $function

.fade-enter-from, .fade-leave-to
  opacity: 0

.slide-enter-active, .slide-leave-active
  transition: transform $time $function
  transform-origin: top

.slide-enter-from, .slide-leave-to
  transform: scaleY(0)

.slide-enter-to, .slide-leave-from
  transform: scaleY(1)
